.container {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  min-width: 700px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '\25BE';
  position: absolute;
  top: calc(50% - 5px);
  right: 10px;
  font-size: 10px;
}

.select-custom {
  height: 55px; /* Define a altura do select */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  color: #333; /* Define a cor do texto do select */
  font-size: 14px; /* Define o tamanho da fonte do select */
}




.select-custom option {
  background-color: #fff;
}

.jumbotron {
  border-radius: 5px;
  background-color: #fff;
  margin-top: 20px;
  max-width: 700px;
  align-items: center;
}

.table {
  margin-top: 20px;
  padding-top: 20px;
  max-width: 700px;
  border: solid 1px #ccc;
}

.margin-title{
  padding-top: 20px;
}

@media (max-width: 700px) {
  .container {
    margin-top: 20px;
  }
}
